.root {
    -fx-background-image: url("Login.png");
}
.textField {
	-fx-background-image: url("TextField.png");
	-fx-text-fill: white;
}
.checkBox {
	-fx-background-color: #181818;
	-fx-text-fill: -fx-text-background-color;
}
.button {
	-fx-background-image: url("Button.png");
}
.button:hover {
	-fx-background-image: url("ButtonHover.png");
}